<ion-view view-title="Todas as Cartas">
  <ion-nav-buttons side="secondary">
    <button class="button-icon icon light" ng-click="mostrarFiltro()">
      <i class="icon ion-funnel"></i>
    </button>
    <button class="button-icon icon light" ng-click="scrollTop()">
      <i class="icon ion-arrow-up-c"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
    <!--Pesquisa de carta-->
    <div class="item-input-inset">
      <label class="item-input-wrapper search-input">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input ng-model="cartaPesquisada" type="search" class="input-full-width" placeholder="Pesquisar Carta">
      </label>
      <button class="button-icon icon" ng-click="limpar()">Limpar</button>
    </div>
    <!-- Filtro de carta -->
    <ion-list ng-if="filtroAtivado">
      <ion-item class="item item-divider">Filtrar Cartas por expansão</ion-item>
      <ion-item  ng-click="filtrar(set)" class="filtro" ng-repeat="set in cardSet">{{set}}</ion-item>
    </ion-list>
    <ion-list>
      <ion-item class="item item-divider">
        Por ordem de alfabética
        <span class="badge badge-dark">{{todasAsCartas.length}}</span>
      </ion-item>
      <div collection-repeat="card in todasAsCartas | filter:{name:cartaPesquisada} | orderBy:'name'">
        <a class="item item-avatar {{card.rarity}}" href="#/main/card/:{{card.id}}">
          <img src="https://art.hearthstonejson.com/v1/256x/{{card.id}}.jpg">
          <b>{{card.name}}</b> Mana:{{card.cost}} {{card.attack}}<i ng-if="card.attack">/</i>{{card.health}}
          <p ng-bind-html=card.text></p>
        </a>
      </div>
    </ion-list>
    <!-- 
      Botao carregar mais
      <div ng-if=" (listaFiltrada.length < 1) && listaFiltrada.length !== 1614">
      <button class="button button-block button-positive" ng-click="carregaPorra()">Carregar mais cartas</button>
    </div>

    <ion-infinite-scroll ng-show="showInfinite" ng-if="temMais()" icon="icon ion-ios-loop-strong spin big" on-infinite="carregaPorra()">
    </ion-infinite-scroll> -->
  </ion-content>
</ion-view>