<ion-tabs class="tabs-icon-top tabs-positive">

  <!-- Card Tab -->
  <ion-tab title="Cartas" icon-off="ion-document" icon-on="ion-document-text" ui-sref="main.card">
    <ion-nav-view name="card-list"></ion-nav-view>
  </ion-tab>

  <!-- List Tab -->
  <ion-tab title="Classes" icon-off="ion-person-stalker" icon-on="ion-person-stalker" ui-sref="main.classes">
    <ion-nav-view name="tab-classes"></ion-nav-view>
  </ion-tab>

  <!-- Debug Tab -->
  <ion-tab title="Expansões" icon-off="ion-map" icon-on="ion-map" ui-sref="main.debug">
    <ion-nav-view name="tab-debug"></ion-nav-view>
  </ion-tab>

</ion-tabs>